* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  background-color: rgba(255, 255, 255, 0);
  border-radius: 15px;
  border: none;
  width: 8px;
}

::-webkit-scrollbar-thumb{
  background-color: #1DB954;
  border-radius: 2px;
}
